.mainHeader {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  color: #fff;
}
.links {
  display: flex;
  color: #fff;
  gap: 20px;
  list-style-type: none;
}
.links a {
  color: #fff;
}
