.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100vh;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.accordion {
  width: 500px;
  margin-bottom: 20px;
  border-radius: 50px;
}

.item {
  color: #fff;
  align-items: center;
  background-color: #614101;
  margin-bottom: 10px;
  padding: 10px 20px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.content {
  color: #fff;
  height: auto;
}
