.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100vh;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.accordion {
  width: 500px;
  margin-bottom: 20px;
  border-radius: 50px;
}

button {
  background-color: #b3b2b2;
  color: #fff;
  margin-bottom: 5px;
  cursor: pointer;
  font-size: 16px;
  padding: 20px;
  display: inline-block;
  border-radius: 20px;
}

.item {
  color: #fff;
  align-items: center;
  /* background-color: #614101; */
  border: 5px #47433b6c;
  border-radius: 12px;
  margin-bottom: 10px;
  padding: 10px 20px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 10px;
  position: relative;
}

.content {
  color: #fff;
  height: auto;
  font-size: 20px;
}

span {
  border: 1px solid gray;
  border-radius: 2px;
  color: #b3b2b2;
  font-size: 17px;
  background-color: teal;
  position: absolute;
  top: 5px;
  right: 5px;
  display: inline-block;
  padding: 3px;
}
